.DS_Store
.idea/
.vscode/




# Laravel
.env.production
public/storage
storage/*.key

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/local.properties

# Mac
.AppleDouble
.LSOverride

# Misc

*.log
.env copy