.DS_Store
.idea/
.vscode/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Composer
/vendor/
/admin/vendor/
/admin/admin/vendor/
composer.lock

# Laravel
.env
.env.backup
.env.production
public/storage
storage/*.key

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/local.properties

# Mac
.AppleDouble
.LSOverride

# Misc
*.sql
*.log
.env copy