*.log
.DS_Store

.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

Homestead.json
Homestead.yaml
Thumbs.db

/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
